<div class="container-full flex wrap">
  <div class="column-title">
    <%= render "header" %>
    <h2 class="heading-xl sm:heading-xl mb-20">Edit Your Profile</h2>
  </div>
  <div class="column-main">
    <%= form_for(resource,
        as: resource_name,
        url: registration_path(resource_name),
        html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages",
          resource: resource %>
      <div>
        <div class="form__label">
          <%= f.label :name do %>
            Name<span aria-hidden="true" class="text-red"> *</span>
            <span class="sr-only">Required field</span>
          <% end %>
        </div>
        <%= f.label :name, "This is how your name will appear to others.",
            class: "form__details" %>
        <%= f.text_field :name,
            required: true,
            class: "form__input form__input--md" %>
      </div>
      
      <div>
        <div class="form__label">
          <%= f.label :location do %>
            City / town<span aria-hidden="true" class="text-red"> *</span>
            <span class="sr-only">Required field</span>
          <% end %>
        </div>
        <%= f.select :location,
            Event::LOCATIONS,
            { include_blank: "--- Select ---" },
            { required: true,
              class: "form__select form__input form__input--md" } %>
      </div>
      
      <div>
        <%= f.label :bio,
            class: "form__label" %>
        <%= f.label :bio, "Tell other users about you in 250 characters or less.",
            class: "form__details" %>
        <%= f.text_area :bio,
            class: "form__input" %>
      </div>

      <div>
        <%= f.label :favorite_dish, "Favorite Food",
            class: "form__label" %>
        <%= f.text_field :favorite_dish,
            class: "form__input form__input--md" %>
      </div>

      <div>
        <%= f.label :topics, "Hobbies and Interests",
            class: "form__label" %>
        <%= f.text_field :topics,
            class: "form__input form__input--md" %>
      </div>

      <div>
        <%= f.label :twitter_link, "Twitter",
            class: "form__label" %>
        <%= f.text_field :twitter_link,
            class: "form__input" %>
      </div>

      <div>
        <%= f.label :instagram_link, "Instagram",
            class: "form__label" %>
        <%= f.text_field :instagram_link,
            class: "form__input" %>
      </div>

      <div>
        <%= f.label :facebook_link, "Facebook",
            class: "form__label" %>
        <%= f.text_field :facebook_link,
            class: "form__input" %>
      </div>

      <div class="form__field">
        <%= f.label :profile_pic, "Profile picture",
            class: "form__label" %>
        <%= f.label :profile_pic, "(This helps people know you’re not a robot.)",
            class: "form__details" %>
        <label class="form__photo link">
          <div class="form__photo-button flex">
            <%= inline_svg "icons/photo.svg",
                class: "form__photo-icon" %>
            Upload a profile picture
          </div>
          <div class="form__photo-file">
            <%= f.file_field :profile_pic %>
          </div>
        </label>
      </div>
      
      <div>
        <div class="form__label">
          <%= f.label :email do %>
            Email<span aria-hidden="true" class="text-red"> *</span>
            <span class="sr-only">Required field</span>
          <% end %>
        </div>
        <%= f.email_field :email,
            autocomplete: "email",
            required: true,
            class: "form__input form__input--md" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div>
        <%= f.label :password, "New Password",
            class: "form__label" %>
        <%= f.label :password, "Passwords should include at least 8 characters, and include one upper case letter and a number.",
            class: "form__details" %>
        <%= f.password_field :password,
            autocomplete: "new-password",
            placeholder: "••••••••",
            class: "form__input form__input--md" %>
      </div>

      <div>
        <%= f.label :password_confirmation, "Confirm new password",
            class: "form__label" %>
        <%= f.password_field :password_confirmation,
            autocomplete: "new-password",
            placeholder: "••••••••",
            class: "form__input form__input--md" %>
      </div>

      <div>
        <div class="form__label">
          <%= f.label :current_password do %>
            Current Password<span aria-hidden="true" class="text-red"> *</span>
            <span class="sr-only">Required field</span>
          <% end %>
        </div>
        <%= f.label :current_password, "We need your current password to confirm your changes",
            class: "form__details" %>
        <%= f.password_field :current_password,
            autocomplete: "current-password",
            required: true,
            class: "form__input form__input--md" %>
      </div>
      <div>
        <%= f.submit "Update",
            class: "btn btn--primary" %>
      </div>
    <% end %>
  </div>
</div>