<%= render "header" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "container form flex-col" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h2 class="heading-xl sm:heading-xl mb-130">Let's make your profile.</h2>

  <h3 class="heading-lg sm:heading-lg mb-50">Start with the basics:</h3>
  <div class="column-container flex justify-between mb-150">
    <div class="column form__section">
      <div class="form__label">
        <%= f.label :name do %>
          Name<span aria-hidden="true" class="text-red"> *</span>
          <span class="sr-only">Required field</span>
        <% end %>
      </div>
      <%= f.label :name, "This is how your name will appear to others.",
          class: "form__details" %>
      <%= f.text_field :name,
          required: true,
          class: "form__input",
          placeholder: "John Doe" %>
      <div class="form__label">
        <%= f.label :location do %>
          City / town<span aria-hidden="true" class="text-red"> *</span>
          <span class="sr-only">Required field</span>
        <% end %>
      </div>
      <%= f.select :location,
          Event::LOCATIONS,
          { include_blank: "--- select ---" },
          { required: true,
            class: "form__select form__input" } %>
    </div>
    <div class="column">
      <%= f.label :profile_pic, "Profile picture",
          class: "form__label" %>
      <%= f.label :profile_pic, "(This helps people know you’re not a robot.)",
          class: "form__details" %>
      <label class="form__photo form__label">
        <div class="form__photo-button flex">
          <%= inline_svg "icons/photo.svg",
              class: "form__photo-icon" %>
          Upload a profile picture
        </div>
        <div class="form__photo-file">
          <%= f.file_field :profile_pic %>
        </div>
      </label>
    </div>
  </div>
  <h3 class="heading-lg sm:heading-lg mb-50">Okay, we're almost finished:</h3>
  <div class="form__section mb-150">
    <div class="form__label">
      <%= f.label :email do %>
        Email<span aria-hidden="true" class="text-red"> *</span>
        <span class="sr-only">Required field</span>
      <% end %>
    </div>
    <%= f.email_field :email,
        required: true,
        class: "form__input",
        placeholder: "your.email@example.com",
        autocomplete: "email" %>
    <div class="form__label">
      <%= f.label :password do %>
        Password<span aria-hidden="true" class="text-red"> *</span>
        <span class="sr-only">Required field</span>
      <% end %>
    </div>
    <%= f.label :password, "Your password must be at least 8 characters, including an upper case letter and a number.",
        class: "form__details" %>
    <%= f.password_field :password,
        required: true,
        class: "form__input",
        placeholder: "••••••••",
        autocomplete: "new-password" %>
    <div class="form__label">
      <%= f.label :password_confirmation do %>
        Confirm password<span aria-hidden="true" class="text-red"> *</span>
        <span class="sr-only">Required field</span>
      <% end %>
    </div>
    <%= f.password_field :password_confirmation,
        required: true,
        class: "form__input",
        placeholder: "••••••••",
        autocomplete: "new-password" %>
    <%= f.submit "Create my account",
        class: "form__button btn" %>
  </div>
  
<% end %>
