<%= render "header" %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "container form flex-col" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h2 class="heading-lg sm:heading-lg mb-130">Let's make your profile.</h2>

  <div class="flex">
    <div class="form__section mb-150">
      <h3 class="heading-md sm:heading-md mb-50">Start with the basics:</h3>
      <%= f.label :name, class: "form__label" %>
      <%= f.label "This is how your name will appear to others", class: "form__details" %>
      <%= f.text_field :name, class: "form__input", placeholder: "your name" %>
      <%= f.label "City / town", class: "form__label" %>
      <%= f.text_field :location, class: "form__input", placeholder: "your city or town" %>
    </div>
    <div class="form__section mb-150">
      <%= f.label "Profile photo", class: "form__label" %>
      <%= f.label "This helps people know you’re not a robot.", class: "form__details" %>
      <%= f.file_field :profile_pic %>
      </p>
    </div>
  </div>
  <div class="form__section mb-150">
    <h3 class="heading-md sm:heading-md mb-50">Okay, we're almost finished:</h3>
    <%= f.label :email, class: "form__label" %>
    <%= f.email_field :email, class: "form__input", placeholder: "Email", autocomplete: "email" %>
    <%= f.label :password, class: "form__label" %>
    <%= f.label "Passwords should include at least 8 characters, and include one upper case letter and a number.", class: "form__details" %>
    <%= f.password_field :password, class: "form__input", placeholder: "••••••••", autocomplete: "new-password" %>
    <%= f.label "Confirm password", class: "form__label" %>
    <%= f.password_field :password_confirmation, class: "form__input", placeholder: "••••••••", autocomplete: "new-password" %>
    <%= f.submit "Create my account", class: "form__button btn" %>
  </div>
  
<% end %>
