<div class="card card--link">
  <div class="flex justify-between">
    <div>
      <h2 class="heading-md sm:heading-md mb-10"><%= archived_event.title %></h2>
      <p class="card__restaurant mb-20"><%= archived_event.restaurant %></p>
      <div class="flex mb-20">
        <div class="card__time flex">
          <%= inline_svg "icons/clock.svg",
              class: "card__icon" %>
          <time datetime="<%= archived_event.start_time.strftime("%H:%M:%S") %>">
            <%= archived_event.start_time.strftime("%l:%M %p") %>
          </time>
        </div>
        <div class="card__time flex">
          <%= inline_svg "icons/calendar.svg",
              class: "card__icon" %>
          <time datetime="<%= archived_event.start_time.strftime("%Y-%m-%d") %>">
            <%= archived_event.start_time.strftime("%A, %B %e") %>
          </time>
        </div>
      </div>
    </div>
    <div class="card__space flex-col">
      <p class="card__seats mb-5">
        <%= archived_event.memberships.length == archived_event.max_people ? "No" : archived_event.max_people - archived_event.memberships.length %>
         seats available
      </p>
      <p class="card__guests mb-20">up to <%= archived_event.max_people %> guests</p>
    </div>
  </div>
  <div class="card__buttons flex justify-between">
    <%= link_to event_path(archived_event),
        class: "btn btn--primary card__btn card__view" do %>
      <span>View Table</span>
      <%= inline_svg "icons/arrow.svg",
          class: "btn__icon" %>
    <% end %>
  </div>
</div>
