<div class="password container">
  <%= render "header" %>
  <h2 class="heading-xl mb-30">Change your password</h2>
  <%= form_for(resource,
      as: resource_name,
      url: session_path(resource_name),
      html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <div>
      <%= f.label :password, "New Password",
          class: "form__label" %>
      <%= f.label :password, "Passwords should include at least 8 characters, and include one upper case letter and a number.",
          class: "form__details" %>
      <%= f.password_field :password,
          autocomplete: "new-password",
          placeholder: "••••••••",
          class: "form__input" %>
    </div>
    <div>
      <%= f.label :password_confirmation, "Confirm new password",
          class: "form__label" %>
      <%= f.password_field :password_confirmation,
          autocomplete: "off",
          placeholder: "••••••••",
          class: "form__input" %>
    </div>
    <%= f.button :submit,
        class: "btn btn--primary" do %>
      Change my password
    <% end %>
  <% end %>
</div>
