<div class="password container">
  <%= render "header" %>
  <h2 class="heading-xxl md:heading-xxl mb-30">Forgot your password?</h2>
  <%= form_for(resource,
      as: resource_name,
      url: session_path(resource_name),
      html: { method: :post }) do |f| %>
    <div>
      <%= f.label "Email", :email, class: "form__label" %>
      <%= f.email_field :email,
          class: "form__input",
          autofocus: true,
          autocomplete: "email",
          placeholder: "your.email@example.com" %>
    </div>
    <%= f.submit "Send me reset password instructions",
        class: "btn btn--primary" %>
  <% end %>
</div>
