<div class="card card--link">
  <div class="flex justify-between">
    <div>
      <h2 class="heading-md sm:heading-md mb-10"><%= event.title %></h2>
      <p class="card__restaurant mb-20"><%= event.restaurant %></p>
      <div class="flex mb-20">
        <div class="card__time flex">
          <%= inline_svg "icons/clock.svg", class: "card__icon" %>
          <time datetime="<%= event.start_time.strftime("%H:%M:%S") %>"><%= event.start_time.strftime("%l:%M %p") %>
          </time>
        </div>
        <div class="card__time flex">
          <%= inline_svg "icons/calendar.svg", class: "card__icon" %>
          <time datetime="<%= event.start_time.strftime("%Y-%m-%d") %>"><%= event.start_time.strftime("%A, %B %e") %>
          </time>
        </div>
      </div>
    </div>
    <div class="card__space flex-col">
      <% if event.memberships.length == event.max_people %>
        <p class="card__seats mb-5">No seats available</p>
      <% else %>
        <p class="card__seats mb-5"><%= (event.max_people - event.memberships.length).to_s %> seats available</p>
      <% end %>
      <p class="card__guests mb-20">up to <%= event.max_people.to_s %> guests</p>
    </div>
  </div>
  <div class="flex justify-between">
    <div class="card__buttons">
      <%= link_to event_path(event), class: "btn card__view" do %>
        <div class="flex">
          <p>View Table</p>
          <%= inline_svg "icons/arrow.svg", class: "btn__icon" %>
        </div>
      <% end %>
      <% if event.creator_id == current_user.id %>
        <%= link_to edit_event_path(event), class: "btn btn--mobile card__edit" do %>
          <p class="btn__text-mobile">Edit Table</p>
          <%= inline_svg "icons/edit.svg", class: "btn__icon btn__icon--mobile" %>
        <% end %>
      <% end %>
      <% if event.creator_id == current_user.id %>
        <%= link_to event_path(event), method: :delete, class: "btn btn--mobile card__remove" do %>
          <p class="btn__text-mobile">Cancel Table</p>
          <%= inline_svg "icons/delete.svg", class: "btn__icon btn__icon--mobile" %>
        <% end %>
      <% elsif event.members.include?(current_user) %>
        <%= link_to 'Leave Table', event_membership_path(event, Membership.find_membership(current_user, event)),
          method: :delete, class: "btn card__remove" %>
      <% end %>
    </div>
  </div>
</div>
