<p>
  <%= f.label :title, "Let's give your table a name",
      class: "form__label" %>
  <%= f.text_field :title,
      required: true,
      class: "form__input",
      placeholder: "Event title" %>
</p>

<p>
  <%= f.label :restaurant, 'Where are we going?',
      class: "form__label" %>
  <%= f.text_field :restaurant,
      required: true,
      class: "form__input",
      placeholder: "Restaurant name" %>
</p>

<p>
  <%= f.label :restaurant_address, 'Address of Restaurant',
      class: "form__label" %>
  <%= f.text_field :restaurant_address,
      required: true,
      class: "form__input",
      placeholder: "1234 Main St. Malibu, California 90210" %>
</p>

<p>
  <%= f.label :city, 'Location',
      class: "form__label" %>
  <%= f.select :city,
      Event::LOCATIONS,
      { include_blank: "--- select ---" },
      { required: true,
        class: "form__select form__input form__input--md" } %>
</p>

<p>
  <%= f.label :start_time, 'Start Time',
      class: "form__label" %>
  <%= f.datetime_field :start_time,
      required: true,
      class: "form__date form__input form__input--md" %>
</p>
<p>
  <%= f.label :end_time, 'End Time',
      class: "form__label" %>
  <%= f.datetime_field :end_time,
      required: true,
      class: "form__date form__input form__input--md" %>
</p>

<p>
  <%= f.label :max_people, 'Maximum Number of Guests',
      class: "form__label" %>
  <%= f.label :max_people, 'Make sure to include yourself.',
      class: "form__details" %>
  <%= f.select :max_people, [ 3, 4, 5, 6, 7, 8 ],
      { include_blank: "--- select ---" },
      { required: true,
        class: "form__select form__input form__input--md" } %>
</p>

<p>
  <%= f.label :topic, 'Topics for Discussion',
      class: "form__label" %>
  <%= f.label :topic, 'List up to 5 topics to get the conversation started at your table (separate with commas).',
      class: "form__details" %>
  <%= f.text_field :topic,
      class: "form__input", placeholder: "Books, Surfing, Books about surfing" %>
</p>

<p>
  <%= f.label :description, 'Event Description',
      class: "form__label" %>
  <%= f.label :description, 'Give your guests a little more information: Where can they park? Whose name is the reservation under? Etc.',
      class: "form__details" %>
  <%= f.text_area :description,
      class: "form__input",
      placeholder: "Your very cool, super informative less-than-250-characters event description." %>
</p>
