<%= link_to event_path(event), :class => "link card" do %>
  <h2>Title of table</h2>
  <span class="card__title"><%= event.restaurant %>,
  </span>
  <time datetime="<%= event.start_time.strftime("%Y-%m-%dT%H:%M:%S") %>" class="card__time"><%= event.start_time.strftime("%lPM %A %b %e") %>
  </time>
  <div>
    <span class="card__guests"><%= event.min_people %>-<%= event.max_people %> guests</span>
  </div>
<% end %>