<%= link_to event_path(event), class: "card card--link" do %>
<div class="flex justify-between">
  <div>
    <h2 class="heading-md sm:heading-md mb-10"><%= event.title %></h2>
    <p class="card__restaurant mb-20"><%= event.restaurant %></p>
    <div class="flex mb-20">
      <div class="card__time">
        <time datetime="<%= event.start_time.strftime("%H:%M:%S") %>"><%= event.start_time.strftime("%l:%M %p") %>
        </time>
      </div>
      <div class="card__time">
        <time datetime="<%= event.start_time.strftime("%Y-%m-%d") %>"><%= event.start_time.strftime("%A, %B %e") %>
        </time>
      </div>
    </div>
    <button class="btn card__btn">View Table</button>
  </div>
  <div>
    <span class="card__guests">up to <%= event.max_people.to_s %> guests</span>
</div>
  </div>
<% end %>