<div class="container-full flex wrap">
  <div class="column-title">
    <%= render "header" %>
    <h2 class="heading-xl sm:heading-xl mb-20">Edit Your Table</h2>
  </div>
  <div class="column-main">
    <%= form_for(@event) do |f| %>
      <% if @event.errors.any? %>
        <% @event.errors.full_messages.each do |msg| %>
          <p class="alert">Error: <%= msg %></p>
        <% end %>
      <% end %>
      <%= render 'event_fields',
          f: f %>
      <p>
        <%= f.submit "Save Changes",
            class: "btn btn--primary" %>
      </p>
    <% end %>
  </div>
</div>
