<% if notice == "Welcome! You have signed up successfully." %>
  <div data-module="banner" class="banner">
    <p class="banner__text">Your account has been created! Start browsing tables near you.</p>
    <%= link_to edit_registration_path(current_user),
        class: "btn btn--info banner__button" do %>
      Complete Your Profile
    <% end %>
    <button class="banner__close">
      <%= inline_svg "icons/close.svg" %>
    </button>
  </div>
<% end %>

<div class="container-full flex wrap">
  <div class="column-title">
    <%= render "header" %>
    <h2 class="heading-xl mb-20">Browse Tables</h2>
    <p class="heading-md mb-50">
      Connect with fellow newcomers by eating together at a local restaurant.
    </p>
    <div class="form__label flex">
      <%= inline_svg "icons/location.svg",
          class: "form__label-icon" %>
      <p class="form__label-text">Location:</p> 
    </div>
    <%= form_tag events_path, method: 'get' do %>
      <%= select_tag("search_location",
          options_for_select(Event::LOCATIONS, params[:search_location] || current_user.location),
          onchange: "this.form.submit();",
          class: "form__select form__input form__input--md") %>
    <% end %>
  </div>
  <div class="column-main lg:flex wrap">
    <%= render(@events) || "<p class='big-body'>Whoops! Looks like there aren’t any open tables in your city right now. Why not create one?</p>".html_safe %>
  </div>
</div>
