<div class="container-full flex wrap">
  <div class="column-title">
    <%= render "header" %>
    <h2 class="heading-xl mb-20">Create a Table</h2>
    <p class="heading-md mb-50">
      You choose the place, time, and conversation topics. We’ll find people to fill the table.
    </p>
  </div>
  <div class="column-main">
    <%= form_for(@event) do |f| %>
      <% if @event.errors.any? %>
        <% @event.errors.full_messages.each do |msg| %>
          <p class="alert">Error: <%= msg %></p>
        <% end %>
      <% end %>
      <%= render 'event_fields',
          f: f %>
      <p>
        <%= f.button :submit,
            class: "btn btn--primary" do %>
          Create Table
        <% end %>
      </p>
    <% end %>
  </div>
</div>