<%= render "header" %>

<div class="container">
  <div class="column-container flex justify-between">
    <div class="column column--small mb-50">
      <h2 class="heading-xl sm:heading-xl mb-50">Create Your Table</h2>
    </div>
    <div class="column column--big flex-col mb-130">
      <%= form_for(@event) do |f| %>
        <% if @event.errors.any? %>
          <% @event.errors.full_messages.each do |msg| %>
            <p class="alert">Error: <%= msg %></p>
          <% end %>
        <% end %>
        <%= render 'event_fields',
            f: f %>
        <p>
          <%= f.submit "Create Table",
              class: "btn" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
