<%= render "header" %>

<div class="container">
  <% if @event.event_pic.attached? %>
    <%= image_tag @event.event_pic %>
  <% end %>

  <p class="small-body sm:small-body mb-90">
    <em><%= @event.max_people === 3 ? @event.max_people : '3-' + @event.max_people.to_s %> guests</em>
  </p>

  <h2 class="heading-xl sm:heading-xl mb-20"><%= @event.title %></h2>
  <p class="heading-md sm:heading-md mb-30"><%= @event.description %></p>

  <div class="mb-50">
    <%= form_for [@event, @membership] do |f| %>
      <% if @existing_membership.nil? %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :event_id, value: @event.id %>
          <%= f.submit 'Join Table', class: "btn" %>
      <% else %>
        <%= link_to 'Leave Table',
          event_membership_path(@event, @existing_membership),
          method: :delete, class: "btn" %>
      <% end %>
      <%= link_to 'Edit Table', edit_event_path, class: "btn" %>
      <%= link_to 'Cancel Table', event_path, method: :delete, class: "btn" %>
    <% end %>
  </div>

  <div class="info-box mb-30">
    <h3 class="heading-xs sm:heading-xs mb-30">Table Details</h2>
    <p class="small-body sm:small-body mb-20"><%= @event.restaurant %></p>
    <p class="small-body sm:small-body mb-20"><%= @event.restaurant_address %></p>
    <div class="small-body sm:small-body mb-20">
      <time datetime="<%= @event.start_time.strftime("%Y-%m-%d") %>"><%= @event.start_time.strftime("%A, %b %e") %>
      </time>
    </div>
    <div class="small-body sm:small-body mb-20">
      <time datetime="<%= @event.start_time.strftime("%H:%M:%S") %>"><%= @event.start_time.strftime("%l:%M %p") %>
      </time> - 
      <time datetime="<%= @event.end_time.strftime("%H:%M:%S") %>"><%= @event.end_time.strftime("%l:%M %p") %>
      </time>
    </div>
    <p class="small-body sm:small-body"><%= @event.topic %></p>
  </div>
  <div class="info-box mb-50">
    <h3 class="heading-xs sm:heading-xs mb-30">Attending</h3>
    <% @event.members.each do |current_user| %>
      <p class="heading-sm sm:heading-sm mb-30"><%= current_user.name %></p>
    <% end %>
  </div>

  <h3 class="heading-lg sm:heading-lg mb-30">Discussion</h3>

  <div class="mb-50">
    <% @comments.each do |comment| %>
      <div class="mb-15">
        <p class="heading-sm sm:heading-sm mb-5"><%= User.find(comment.user_id).name %>
          <time class="small-body sm:small-body comment__time" datetime="<%= comment.created_at.strftime("%Y-%m-%dT%H:%M:%S") %>"><%= comment.created_at.strftime("%-m/%-d %l:%M %p") %></time>
        </p>
        <p><%= comment.body %></p>
      </div>
      <% comment.comments.each do |child_comment| %>
      <div class="mb-15 comment__reply">
        <p class="heading-sm sm:heading-sm mb-5"><%= User.find(child_comment.user_id).name %>
          <time class="small-body sm:small-body comment__time" datetime="<%= child_comment.created_at.strftime("%Y-%m-%dT%H:%M:%S") %>"><%= child_comment.created_at.strftime("%-m/%-d %l:%M %p") %></time>
        </p>
        <p><%= child_comment.body %></p>
      </div>
      <% end %>
      <div class="mb-5">
        <%= form_for @comment do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :comment_id, value: comment.id %>
          <%= f.text_field :body, required: true, placeholder: "Send a response", class: "form__input comment__helper" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr class="comment__divider mb-20">
  <h4 class="heading-sm sm:heading-sm mb-20">Add your comments</h4>
  <div class="mb-130">
    <%= form_for @comment do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :event_id, value: @event.id %>
      <%= f.text_field :body, required: true, placeholder: "what would you like to say?", class: "form__input comment__helper" %>
      <%= f.submit 'Post', class: "btn" %>
    <% end %>
  </div>
</div>
