<% if @existing_membership.nil? %>
  <%= form_for [@event, @membership] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.submit 'Join Event' %>
  <% end %>
<% else %>
  <%= link_to 'Leave Event',
    event_membership_path(@event, @existing_membership),
    method: :delete %>
<% end %>
<%= link_to 'Edit Event', edit_event_path %>
<%= link_to 'Delete Event', event_path, method: :delete %>

<% @comments.each do |comment| %>
  <p><%= comment.body %> by <%= User.find(comment.user_id).name %></p>
  <% comment.comments.each do |child_comment| %>
    <p><%= child_comment.body %> by <%= User.find(child_comment.user_id).name %></p>
  <% end %>
  <%= form_for [@event, @comment] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :comment_id, value: comment.id %>
    <%= f.text_field :body, required: true %>
    <%= f.submit 'Post Reply' %>
  <% end %>
<% end %>

<%= form_for [@event, @comment] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :event_id, value: @event.id %>
  <%= f.text_field :body, required: true %>
  <%= f.submit 'Post' %>
<% end %>
