<header class="header flex justify-between">
  <h1>
    <%= link_to root_path do %>
      <%= inline_svg "icons/logo.svg",
          class: "header__logo" %>
    <% end %>
  </h1>
  <%- if user_signed_in? %>
    <nav class="header__nav flex">
      <%= link_to user_path(current_user.slug),
          class: "header__button header__button--sign-in" do %>
          <div class="btn header__icon--sign-in">
            <%= inline_svg "icons/profile.svg" %>
          </div>
      <% end %>
      <%= link_to events_path,
          class: "header__button" do %>
        <%= inline_svg "icons/search.svg",
            class: "header__icon" %>
        <span class="header__btn-text">Browse Tables</span>
      <% end %>
      <%= link_to my_tables_path,
          class: "header__button" do %>
        <%= inline_svg "icons/tables.svg",
            class: "header__icon" %>
        <span class="header__btn-text">My Tables</span>
      <% end %>
      <%= link_to new_event_path,
          class: "header__button" do %>
        <%= inline_svg "icons/new.svg",
            class: "header__icon" %>
        <span class="header__btn-text">Create Table</span>
      <% end %>
    </nav>
  <% elsif controller_name == 'sessions' %>
    <div class="header__log-in">
      <%= render "sign-in" %>
    </div>
  <% else %>
    <div class="header__log-in">
      <%= link_to "Log in",
          user_session_path,
          class: "btn btn--primary" %>
    </div>
  <% end %>
</header>