<header class="header">
  <h1 class="header__logo">
    <%= link_to root_path do %>
      Eat & Greet
    <% end %>
  </h1>
  <%- if user_signed_in? %>
    <nav class="header__nav flex">
      <%= link_to user_path(current_user.slug),
          class: "header__button" do %>
        <%= inline_svg "icons/profile.svg",
            class: "header__icon" %>
      <% end %>
      <%= link_to events_path,
          class: "header__button" do %>
        <%= inline_svg "icons/search.svg",
            class: "header__icon" %>
        <span class="header__btn-text form__label">Browse Tables</span>
      <% end %>
      <%= link_to my_tables_path,
          class: "header__button" do %>
        <%= inline_svg "icons/tables.svg",
            class: "header__icon" %>
        <span class="header__btn-text form__label">My Tables</span>
      <% end %>
      <%= link_to new_event_path,
          class: "header__button" do %>
        <%= inline_svg "icons/new.svg",
            class: "header__icon-stroke" %>
        <span class="header__btn-text form__label">Create Table</span>
      <% end %>
    </nav>
  <% else %>
    <%= render "sign-in" %>
  <% end %>
</header>