<%= form_for(resource,
    as: resource_name,
    url: session_path(resource_name),
    html: { class: "splash__sign-in-form" }) do |f| %>
  <%= f.email_field :email,
      class: "form__input",
      autofocus: true,
      autocomplete: "email",
      placeholder: "your.email@example.com" %>
  <%= f.password_field :password,
      class: "form__input",
      autocomplete: "current-password",
      placeholder: "••••••••" %>
  <% if devise_mapping.rememberable? %>
    <div class="form__field">
      <div class="mb-5">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  <%= f.submit "Log in",
      class: "btn btn--primary splash-login__text" %>
<% end %>
  
<%# TODO: Add full screen overlay sign in %>
<button class="splash__sign-in-btn btn">
  <%= inline_svg "icons/profile.svg" %>
</button>
