<!DOCTYPE html>
<html>
  <head>
    <title>Eat & Greet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.png' %>

    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Lato:300,300i,400,400i,700,900&display=swap" rel="stylesheet">

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
